<meta charset="utf-8"/>
<!--link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"/-->
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<img width "200px" th:src="@{/images/tunisie.jpg}"/>

<h1 align="center" >Liste des Etudiants</h1>

<a th:href="@{'/etudiant/add/'}"  class="btn btn-primary">ajouter un nouveau étudinat</a>
<br><br>

         <table align="center" border="1" class="table table-striped">
            <tr>
               <th>Nom</th>
               
                <th>Email</th>
                <th>Age</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
<tr th:each ="e : ${etudiant}">
               <td th:text="${e.nom}">...</td>
               
                <td th:text="${e.email}">...</td>
                <td th:text="${e.age}">...</td>
                 <td><a th:href="@{/etudiant/affiche/{email}(email=${e.email})}" class="btn btn-warning">modifier</a></td>
		<td><a th:href="@{/etudiant/delete/{email}(email=${e.email})}" class="btn btn-danger">supprimer</a></td>
            </tr>
            
         </table>
